*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(22, 22, 41);
    color: white;
    font-family: 'Poppins', sans-serif;
}

footer{
    display: flex;
    justify-content: flex-end;
    margin: 3vh 5vh;
}

hr{
    margin: 0 5vw;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    background-color: rgb(57, 57, 133);
    padding: 0 0 0 50px;

}

nav .left{
    font-size: 1.7rem;
}

nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 20px;
    
}

nav ul li a {
    text-decoration: none;
    color: white;
}
nav ul li a:hover {
    text-decoration: none;
    color: rgb(105, 105, 199);
}

.section1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin: 100px 0; */
    height: 82vh;
}


.section1 .left{

    font-size: 2rem;
    width: 400px;
    text-align: center;
}
.section1 .right{
    width: 30%;
}

.section1 .right img{
    width: 100%;
}

.textblock{
    margin: 20px 5vw;
    line-height: 2;
}

.para{
    margin: 25px 30px;
}

footer .link a{
    color: white;
    text-decoration: none;
    margin: 0 2vw;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30vh;
    width: 80vw;
    border: 2px;
    margin: 50px;
    border: 1px solid rgba(255, 255, 255, 0.123);
    border-radius: 10px;
    padding: 5px;
}

.project .left{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    background-color: rgb(41, 41, 41);
    border-radius: 50%;
    overflow: hidden;
}

.project .left img{
    height: 80%;   
}

.project .right{
    width: 50%;
}
#contactme{
    margin: 0 0 5vh 0 ;
}
.contactform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: 5vh;
}

.contactform input, .contactform textarea{
    margin: 0 0 25px 0;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(41, 41, 41);
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

/* .contactform textarea{
    min-height: 200px;
} */

.contactform button{
    margin: 30px 0;
    border: 0;
    border-radius: 15px;
    padding: 20px;
    background-color: aqua;
    width: 200px;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    font-weight: bold;
}

.hid{
    visibility: hidden;
}

/* _____________ */

.specialtext{
    color: aqua;
    font-size: 2.5rem;
}

#element{
    color: aqua;
}